*{
    margin: 0;
    padding: 0;
}
section{
	width: 100%;
	height: 100vh;
	background-image: url(or1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.overlay{
		width: 100%;
	height: 100%;
	background-color: rgba(255,131,0,0.72);
}	

.proja{
	text-align: center;
	padding: 15px;
	font-size: 30px;
	animation: anim 1s linear infinite;
	color: #6A0028
}
@keyframes anim{
	0%{
		transform: scale(0.2);color: #fff;
	}
	30%{
		transform: scale(0.5);color: #60010C;
	}
	60%{
		transform: scale(0.7);color: #3E0009;
	}
	100%{
		transform: scale(1);color: #fff;
	}
}

.part{
	max-width: 499px;
}
.part img{
	width: 100%;
	background-color:  #fFF;
	border-radius: 55px;
}
#fontcss{
	margin-left: 10px;
	font-family: 'Bangla', sans-serif;
	font-size: 25px;
	margin-bottom: 15px;
	color: #6A0028
}
.bih{
	text-align: justify;
	text-indent: 40px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Bangla', sans-serif;
	font-size: 25px;
	margin-bottom: 30px;
	color: #6A0028
}
.nibe{
	text-align: right;
	margin-right: 10px;
	font-family: 'Bangla', sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
	color: #6A0028
}
.palan{
	max-width: 399px;
}
.palan img{
	width: 100%;
	border: 1px solid #FB8801;
	border-radius: 55px;
	margin-bottom: 10px;
}
.container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
box-shadow: -3px -2px 5px #FD8A02, 3px 3px 15px #7D7A7A;
border-radius: 50px;
color: white;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -27px;
left: 0;
width: 100%;
height: 25px;
box-shadow: -1px -1px 1px #FD8A02, 3px 3px 10px #7D7A7A;
background-color: #FD9214;
border-radius: 50px;
color: black;
font-weight: bold;
font-size: 0.59em;
line-height: 24px;
font-weight: 300;
font-family: 'Bangla', sans-serif;

}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
.swar h2 {
	text-align: center;
	font-size: 30px;
	color: #6A0028;
	animation: typing 4s steps(11);
  overflow: hidden;
  animation-iteration-count: 24;
  font-size: 30px;
  letter-spacing: 1px;
  white-space: nowrap;
    border-right: 4px solid #ffffff;
  width: 11ch;
  margin-top: 10px;
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 11ch;
  }
}

.subh {
	text-align: center;
	font-family: 'Bangla', sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #6A0028
}
.colr{
	background-color: #FC770B;
}
.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 70vh;

}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}


.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(1) .content{
color: #2196f3
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}
.swiper-slide:nth-child(2) .content{
color: #e91e63
}
footer{
    width: 100%;
    height: 100px;
    background: rgba(255,131,0,0.72);
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: #2F2E2E;
	  font-family: 'Bangla', sans-serif;
	  font-size: 20px;
        } 
		span{
			color: #595757;
			padding-right: 10px;
		} 
		button{
			width: 100px;
			height: 30px;
			border: none;
			background-color: #01C164;
			color: white;
			letter-spacing: 1.5px;
			font-size: 15px;
			font-weight: bold;
			border-radius: 45px;
		}
		button:hover{
			width: 100px;
			height: 30px;
			border: none;
			background-color: white;
			color: #01C164;
			letter-spacing: 1.5px;
			font-size: 15px;
			font-weight: bold;
			border-radius: 45px 10px;
			outline: none;
		}
		